<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="HttpApp">
    <div ng-controller="controllerA">
        No: <input type="text" ng-model="no"><button ng-click="getData()">Get</button>
        <br>
        {{result}}
    </div>
    <script src="../angular.js"></script>
    <script src="index.js"></script>
</body>
</html>