<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="module1" ng-style="myObj" ng-controller="controllerA">
    <section >
        <button id="btn1"  ng-click="colorChange(red)" >{{red}}</button>
        <button id="btn2"  ng-click="colorChange(blue)" > {{blue}}</button>  
    </section>
    
    
</body>
    <script src="angular.js"></script>
    <script src = "button.js">  
</script>
</html>